<h1>Data Science Tools and Ecosytem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java
5. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. Scikit-learn
5. PyTorch
6. Keras
7. ggplot2
8. Ploty
9. Caret

|Data Science Tools|
--

Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers.

In [2]:
200/60

3.3333333333333335

This will convert 200 minutes to hours by diving by 60.

**Objectives:**

List popular languages for Data Science:
- Python
- R
- Julia
- Java
- MATLAB

<h2>Author</h2>
Muhammad Usman